/**
 * @author ajay sharma 
 * @date 29 oct 2013
 */
.wp_qwanz {width:100%;}
.wp_qwanz  h1 {font-size:18px; font-weight:normal; Color:#333;}
.wp_qwanz p {font-size:15px;line-height:27px;}
.wp_qwanz p span {color:#333;}
.wp_qwanz ul { margin:0 ; padding:0;}
.wp_qwanz ul li {
  line-height: 40px;
  margin: 5px;
  position: relative;
  width: auto;
  float:none;
}
.wp_qwanz .actionbutton
{
	background:#0AB50A;
	padding:10px;
	list-style:none;
	text-decoration:none;
	color:#fff;
	font-size:16px;
	border-radius:5px;
}

.wp_qwanz .actionbutton:hover
{
	background:#0BC00B;
	padding:10px;
	list-style:none;
	text-decoration:none;
	color:#fff;
	font-size:16px;
	border-radius:5px;
	 box-shadow: 1px 1px 2px #888888;
}
.wp_qwanz .email-id
{
	text-decoration:none;
	color:#1d74c5;	
}
.wp_qwanz .email-id:hover{ color:#3498db;}